[build-system]
backend = "setuptools.build_meta"
requires = ["setuptools", "wheel", "versioningit"]

# Dynamic Versioning
[tool.versioningit]
[tool.versioningit.write]
file = "src/suit/__version__.py"

[tool.versioningit.vcs]
default-tag = "0.0.1"
match = ["v*"]
method = "git"

[tool.versioningit.tag2version]
rmprefix = "v"

[tool.versioningit.next-version]
method = "smallest"

[tool.versioningit.format]
dirty = "{version}+d{build_date:%Y%m%d}"
distance = "{next_version}.dev{distance}+{vcs}{rev}"
distance-dirty = "{next_version}.dev{distance}+{vcs}{rev}.d{build_date:%Y%m%d}"

# Suit configurations
[tool.suit.target]
inherit = ["package"]

[tool.suit.target.args]
package_dir = "src/suit"
